[submodule "applications/frontend-server"]
	path = applications/frontend-server
	url = https://github.com/zhantia1/job-listings-app-frontend-server

[submodule "applications/data-collector-server"]
	path = applications/data-collector-server
	url = https://github.com/zhantia1/job-listings-app-data-collector-server

[submodule "applications/data-analyazer-server"]
	path = applications/data-analyazer-server
	url = https://github.com/zhantia1/job-listings-app-data-analyazer-server
